{% extends 'base.html' %}{% load static   %}{% block content %} 
      <div class="sub-title"><img src={% static 'images/sub-title.svg'%} loading="lazy" alt="Icon">
        <div class="text-block-17">About us</div>
      </div>
      <h1 class="about-main-title">Our Guiding Principles</h1>
      <p class="about-text">Welcome to CIRSx.com, your premier resource for information and solutions regarding Chronic Inflammatory Response Syndrome (CIRS) and related environmental health challenges. At CIRSx, we are dedicated to advancing the understanding, treatment, and prevention of CIRS through evidence-based research, cutting-edge technology, and comprehensive educational resources.</p>
    </div>
  </div>
  <section class="vision">
    <div class="w-layout-blockcontainer container center w-container">
      <section class="about-hero">
        <div class="about-images">
          <div class="about-img"><img src={% static 'images/Pro-HeadShot---2021---1_1.avif' %} loading="eager" sizes="(max-width: 479px) 94vw, (max-width: 767px) 25vw, (max-width: 991px) 24vw, (max-width: 1919px) 23vw, 400px" srcset="{% static 'images/Pro-HeadShot---2021---1_1.avif' %} 500w, {% static 'images/Pro-HeadShot---2021---1_1.avif' %} 800w, {% static 'images/Pro-HeadShot---2021---1_1.avif' %} 2012w" alt="About Image" class="about-image adjust-image-top">
            <div class="text-block-13">Scott McMahon, MD<br><span class="text-span-4">Founder<br>Medical Expert</span></div>
            <p class="paragraph-13">Dr. McMahon was the first physician certified in the Shoemaker Protocol for treatment of CIRS.  Trained by Dr. Shoemaker himself, he has also collaborated in research, authored or co-authored a dozen scientific papers and 3 medical textbook chapters, delivered more than 50 CIRS presentations at statewide, national and international medical meetings, taught Proficiency Partners, testified as an expert in 10 states and co-authored and co-edited a book on CIRS. </p>
          </div>
          <div id="w-node-d9eb4ac0-9409-e2f7-5067-fd109d3a1023-838e583f" class="about-img"><img src={% static 'images/Weatherman-Head-Shot-2024_1.avif' %} loading="eager" sizes="(max-width: 479px) 94vw, (max-width: 767px) 25vw, (max-width: 991px) 24vw, (max-width: 1919px) 23vw, 400px" srcset="{% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 500w, {% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 800w, {% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 1080w, {% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 1600w, {% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 2000w, {% static 'images/Weatherman-Head-Shot-2024_1.avif' %} 4160w" alt="About Image" class="about-image adjust-image-top">
            <div id="w-node-_484e0eda-8f8e-c153-8db3-feff4d28197d-838e583f" class="text-block-14">Greg Weatherman, CMC<br><span class="text-span-5">Founder<br>Environmental Expert</span></div>
            <p class="paragraph-13">Greg is a co-founder of CIRSx and has been in the industry since 1997 working with mold in the Washington DC area. He holds a Virginia Class A contractor license to include asbestos abatement.  He specializes in testing of mold and bacteria from water damaged indoor environments.</p>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img"><img src={% static 'images/DorningerHeadshot_1.avif' %} loading="eager" sizes="(max-width: 479px) 94vw, (max-width: 767px) 25vw, (max-width: 991px) 24vw, (max-width: 1919px) 23vw, 400px" srcset="{% static 'images/DorningerHeadshot_1DorningerHeadshot.avif' %} 500w,{% static ' images/DorningerHeadshot_1.avif' %} 1129w" alt="About Image" class="about-image adjust-image-top">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Eric Dorninger, ND<br><span class="text-span-6">Founder<br>Sponsorship &amp; Attendee Liason</span></div>
            <p class="paragraph-13">Eric Dorninger completed his Doctor of Naturopathic Medicine and Masters of Science in Acupuncture at Bastyr University in 2003 and completed a 2 year residency in Naturopathic Primary Care. In 2005, He founded Roots and Branches Integrative Health Care, where he focuses on elucidating the underlying causes of unrelenting chronic Illness.</p>
          </div>
          <div id="w-node-e35ad1f6-2d68-dc16-c308-e26eece302a2-838e583f" class="about-img mobile"><img src={% static 'images/Cash-Head-Shot-2024_1.avif'%} loading="eager" sizes="(max-width: 479px) 94vw, (max-width: 767px) 100vw, (max-width: 991px) 24vw, (max-width: 1919px) 23vw, 400px" srcset="{% static 'images/Cash-Head-Shot-2024_1.avif' %} 500w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 800w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 1080w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 1600w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 2000w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 2600w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 3200w, {% static 'images/Cash-Head-Shot-2024_1.avif' %} 6240w" alt="About Image" class="about-image adjust-image-top">
            <div id="w-node-_73a1339c-059e-c769-463c-c5e7553504b9-838e583f" class="text-block-16">Marcia Cash<br><span class="text-span-7">Founder<br>Project Manager</span></div>
            <p class="paragraph-13">Before co-founding CIRSx, Marcia held key roles in various industries, including Trans Island Airways and the U.S. Department of the Interior. She developed and patented the AeroSolver air cleaning process which has greatly improved the standard remediation methods.</p>
          </div>
        </div>
      </section>
      <div class="vision-wrap">
        <div id="w-node-_57b7dfa2-c016-45cb-38b8-3710191a5574-838e583f" class="vision-block">
          <div class="vision-number">01</div>
          <div>
            <h4 class="mission-title">The CIRSx Mission</h4>
            <p class="single-text">Our mission is to create and refine standards by staying on the cutting edge and using an evidence-based approach. We aim to transform multiple industries and their approaches to Chronic Inflammatory Response Syndrome (CIRS) and other environmentally related health challenges.<br><br>By working with established methods, we test and integrate new technologies to achieve better outcomes. This commitment ensures that our standards not only meet current needs but also anticipate future challenges, driving innovation and improvement in healthcare and environmental services.</p>
          </div>
        </div>
        <div id="w-node-_4c061330-7811-bdae-13c0-d48f5204c432-838e583f" class="vision-block">
          <div class="vision-number">02</div>
          <div>
            <h4 class="mission-title">Our Vision &amp; Strategy</h4>
            <p class="single-text">-To identify the environmental problems, identify knowledge gaps, contribute to and perform research, develop solutions and teach both the problems and solutions to the environmental and medical worlds.<br><br>-To further educate other realms such as legal, layperson, medical and residential/commercial insurance worlds.<br><br>-To create new standards and refine older standards by reviewing literature, professional experiences and collected data allowing the evidence to guide best practices.<br><br>-To create a safe place for varying disciplines, such as environmental professionals, healthcare providers and others, to interface and interact to develop multi-industry solutions for environmental problems.<br><br>-To develop a repository of trusted educational and research materials and make these resources available to the different worlds.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock content%} 
