{% extends 'base.html' %}{% load static %}{% block content %}
}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src="{% static 'images/sub-title.svg' %}" loading="lazy" alt="Icon">
        <div class="text-block-18">Conference &amp; Event Videos</div>
      </div>
      <h1 class="main-title">Past Conferences</h1>
    </div>
  </div>
  <div class="w-layout-blockcontainer container-9 w-container">
    <section class="interviews">
      <div class="w-layout-blockcontainer container w-container">
        <div class="research-wrapper">
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">May 2024</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold/CIRSx Annual Conference<br>‍<br>Frisco, Texas</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385222" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">July 2023</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold/CIRSx Annual Conference<br>‍<br>Boulder, Colorado</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385262" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">January 2023</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">I Dream of GENIE<br>Volume 6<br><br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385263" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">October 2022</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">I Dream of GENIE, Vol. 5<br>House Calls, Vol. 1<br>‍<br><br></p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385267" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">April 2022</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold/CIRSx Annual Conference <br>‍<br>Ft. Lauderdale, Florida </p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385291" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">January 2022</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">I Dream of GENIE<br>Volume 3<br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385293" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">October 2021</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">I Dream of GENIE<br>Volume 2<br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385296" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">June 2021</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">I Dream of GENIE<br>Volume 1<br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385300" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">October 2020</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold/MoldCongress Virtual Conference<br>‍<br>Remote</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385303" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">May 2020</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold/MoldCongress Virtual Conference<br>‍<br>Remote</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385307" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">May 2018</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Conference<br>‍<br>Salisbury, Maryland</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385310" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">October 2016</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Conference<br>‍<br>Irvine, California</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385315" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">April 2016</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Virtual Conference<br>‍<br>Remote</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385320" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">November 2015</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Conference<br>‍<br>Phoenix, Arizona </p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385325" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">October 2014</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Conference<br>‍<br>Remote</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385331" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">September 2013</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Conference<br>‍<br>Remote</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385332" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">Podcast</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">Hopkinton Series<br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385336" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          <div class="research-card conference-card">
            <div class="research-title">
              <h4 class="heading-4">Podcast</h4>
            </div>
            <div>
              <p class="paragraph-11 conference-title">SurvivingMold Podcasts<br>‍</p>
            </div>
            <div>
              <a href="https://vimeo.com/showcase/11385339" class="w-inline-block">
                <div class="text-block-27">See Videos</div>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}