{% extends 'base.html' %}{% load static %}{% block content %}
      <div class="sub-title"><img src={% static 'images/sub-title.svg' %} loading="lazy" width="22" alt="Icon">
        <div class="text-block-17">Authoring Innovations in Medicine</div>
      </div>
      <h1 class="about-main-title">Book Of The Year</h1>
  <div class="page-data">
    <section class="interviews shoey-awards">
      <div class="w-layout-blockcontainer container w-container">
        <div class="award-container">
          {% for b in boy %}
            <div class="award">
            <div class="post-img"><img src={% static b.image %} loading="lazy" alt="Post Image" class="post-image"></div>
            <div class="post-data">
              <div>
                <h4 class="post-title">{{ b.title }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}  
        </div>
      </div>
    </section>
  </div>
{% endblock content %}