{% extends 'base.html' %}{% load static   %}{% block content %}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src={% static 'images/sub-title.svg' %} loading="lazy" alt="Icon">
        <div class="text-block-20">CIRSx Institute</div>
      </div>
      <h1 class="main-title">Our Courses</h1>
    </div>
  </div>
  <div class="page-data">
    <div class="w-layout-blockcontainer container-3 institute-cta w-container">
      <div class="div-block-17">
        <h2 class="heading-3">For Professionals</h2>
        <p class="paragraph-8">These courses are designed for professionals and completion earns an official CIRSx Institute digital certification, and in some cases, continuing education credits.</p>
        <ol role="list" class="w-list-unstyled">
          <li>MIR 101: Medically Important Remediation</li>
          <li>
            <p>Coaching &amp; Consulting - Level One</p>
          </li>
          <li>
            <p>Legal 101: Evaluating &amp; Winning a Mold Injury Exposure Case</p>
          </li>
        </ol>
        <a href="https://institute.cirsx.com/" class="list-item w-button">See All Courses</a>
      </div>
      <div class="div-block-17">
        <h2 class="heading-3">For Everyone</h2>
        <p class="paragraph-8">Educational courses that geared towards a general audience and help give a high-level overview of various CIRS-related conditions, symptoms, and treatment techniques.</p>
        <ol role="list" class="w-list-unstyled">
          <li>MIR 100: Medically Important Remediation</li>
          <li>
            <p>Coaching &amp; Consulting for General Audiences - CC 100</p>
          </li>
          <li>
            <p>Breathwork 101 &amp; 102: A Missing Modality in Medicine &amp; Mold Recovery</p>
          </li>
        </ol>
        <a href="https://institute.cirsx.com/p/courses" class="list-item w-button">Discover Courses</a>
      </div>
    </div>
    <section class="why-choose">
      <div class="w-layout-blockcontainer container w-container">
        <div class="about-wrap">
          <div class="about-left">
            <div class="wc-data">
              <div>
                <h2 class="about-title">Advancing the work to treat, educate, and serve those suffering from Chronic Inflammatory Response Syndrome (CIRS). Our courses are designed for:</h2>
              </div>
              <div class="about-info">
                <ul role="list" class="about-check-list">
                  <li class="ac-item">Healthcare professionals</li>
                  <li id="w-node-_88e3196c-1cb6-68df-fdc7-b0054d51c1c2-92720b62" class="ac-item">Industrial professionals</li>
                  <li id="w-node-_88e3196c-1cb6-68df-fdc7-b0054d51c1c4-92720b62" class="ac-item">General audiences</li>
                  <li id="w-node-_88e3196c-1cb6-68df-fdc7-b0054d51c1c6-92720b62" class="ac-item">another </li>
                  <li id="w-node-_88e3196c-1cb6-68df-fdc7-b0054d51c1c8-92720b62" class="ac-item">Legal counsel</li>
                </ul>
              </div>
            </div>
            <div class="about-review">
              <div class="ar-img"><img src={% static 'images/vision_1.avif' %} loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 42vw, (max-width: 991px) 43vw, (max-width: 1279px) 19vw, (max-width: 1439px) 20vw, (max-width: 1919px) 21vw, 390px" srcset="{% static 'images/vision_1.avif' %} 500w, {% static 'images/vision_1.avif' %} 864w" alt="Image" class="ar-image"></div>
              <div class="ar-data">
                <div class="ar-quote">“Incredible Value”</div>
                <div>
                  <p class="single-text">“The MIR 101 course was extremely easy to follow and helped me understand the techniques for remediating mold, highly recommend.”</p>
                  <div class="ar-info">
                    <div class="ar-wrap"><img src={% static 'images/ar-thumb_1ar-thumb.jpg' %} loading="lazy" alt="Image" class="ar-thumb"></div>
                    <div>
                      <div class="ar-text">Courtney Henry</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wc-img"><img src={% static 'images/appointment_1.avif' %} loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1439px) 42vw, (max-width: 1919px) 44vw, 820px" srcset="{% static 'images/appointment_1appointment.avif' %} 500w,{% static 'images/appointment_1.avif' %} 1262w" alt="Section Image" class="section-image"></div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}