{% extends 'base.html' %}{% load static   %}{% block content %}
  <div class="page-data add-padding">
    <div class="w-layout-blockcontainer banner-container padding-adjust w-container">
      <div class="div-block-23"><img src="{% static 'images/Group-39885.svg' %}" loading="lazy" alt="" class="image-7"></div>
      <div class="div-block-22 block-title">
        <div class="div-block-27 no-gap">
          <p class="paragraph-17 conference-style">CIRSx/SurvivingMold Annual Conference<br></p>
          <p class="paragraph-17 conference-style">June 6th-8th 2025<br></p>
          <p class="paragraph-17 conference-style">Tempe, Arizona    <br></p>
        </div>
        <h3 class="heading-5 conference-header">OMNI Tempe at ASU</h3>
        <p class="paragraph-18">This year’s conference  will encompass our community’s latest and greatest academic discoveries, fill in the gaps on complex topics, provide case studies (human health and building health), and focus on the essentials and latest on building health to obtain human health. ⁠</p>
        <div class="div-block-25">
          <div class="div-block-26">
            <a href="https://cirsx.regfox.com/x25-attendee-registration" class="button w-button">Conference Registration NOW</a>

            <a href="https://cirsx.regfox.com/x25-exhibitor-registration" class="button w-button">Exhibitor Information Available</a>

          </div>
        </div>
      </div>
    </div>
    <div class="w-layout-blockcontainer container-7 w-container">
      <h2 class="heading-8">Conference Details</h2>
      <div class="div-block-36">
        <div class="div-block-35 conference-data">
          <h1 class="conference-heading">Conference Dates:<br></h1>
          <p>June 6-8 2025<br>CIRSx Conference</p>
          <div class="div-block-37"></div>
          <div class="conference-item">
            <h1 class="conference-heading">Workshops &amp; Sessions:<br></h1>
            <p>Thursday June 5<sup>th</sup>, 2025<br>Medical and Environmental Workshops</p>
            <p class="paragraph-19 no-border">*More to be announced soon</p>
          </div>
        </div>
        <div class="div-block-35 conference-data">
          <h1 class="conference-heading">Location:<br></h1>
          <p>OMNI Tempe Hotel at Arizona State University (ASU)<br>7 East University Drive<br>Tempe, Arizona 85281</p>
          <p class="paragraph-19"><span class="text-span-17">Ask for the CIRSx room rate of $149.00</span>‍<br></p>
          <h1 class="conference-heading">Attending Virtually?<br></h1>
          <p>If you can&#x27;t make it to our conference in person, you can join us virtually. We&#x27;ll email you the schedule, links to watch virtual sessions, and slide decks so you can follow along.</p>
        </div>
      </div>
    </div>
      <!--
    <div class="w-layout-blockcontainer container-8 w-container">
      <div class="w-layout-blockcontainer container-8 w-container">
      <div class="div-block-38">
        <div class="div-block-39">
            <h3> 2024 Sponsors</h3>
            <div class="div-block-39">
                <h4>Platinum</h4>
                <div class="div-block-39">
                  <a href="https://www.envirobiomics.com">
                      <img src="{% static 'images/P-Envirobiomics Icon.png' %}" alt="logo">
                  </a>
                </div>
                <h4>Gold</h4>
                <div class="div-block-39">
                  <a href="https://www.airoasis.com">
                      <img src="{% static 'images/G-Air Oasis Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://defensesoap.com">
                      <img src="{% static 'images/G-Defense Soap Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.fortex.com">
                      <img src="{% static 'images/G-Fortrx Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.moldsci.com">
                      <img src="{% static 'images/G-Mold Inspection Sciences Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://pdlabsrx.com">
                      <img src="{% static 'images/G-PD Labs Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.ushyperbarics.co">
                      <img src="{% static 'images/G-US Hyperbarics Icon.png' %}" alt="logo">
                  </a>
                </div>
                <h4>Silver</h4>
                <div class="div-block-39">
                  <a href="http://www.aerosolver.com">
                      <img src="{% static 'images/S-Aerosolver Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://apexenergetics.com">
                      <img src="{% static 'images/S-Apex Energetics Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://aurowellness.com">
                      <img src="{% static 'images/S-Auro Wellness Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.bluesky-cbd.com">
                      <img src="{% static 'images/S-Blue Sky Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://branchbasics.com">
                      <img src="{% static 'images/S-Branch Basics Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.ecotreck.com">
                      <img src="{% static 'images/S-EcoTreck Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://integrativepro.com">
                      <img src="{% static 'images/S-Integrative Pro Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.envirobiomics.com">
                      <img src="{% static 'images/S-JW Environmental Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.jwenvironmental.com">
                      <img src="{% static 'images/S-Microbiologydx Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.callpurerestore.com">
                      <img src="{% static 'images/S-Pure Dry Icon.png' %}" alt="logo">
                  </a>
                  <a href="#">
                      <img src="{% static 'images/S-Red Light Therapy Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://www.stonecrest.team">
                      <img src="{% static 'images/S-Stone crest Team Icon.png' %}" alt="logo">
                  </a>
                  <a href="http://www.survivingremediation.com">
                      <img src="{% static 'images/S-SurvivingRemediation Icon.png' %}" alt="logo">
                  </a>
                  <a href="https://urbanaip.com">
                      <img src="{% static 'images/S-UrbanAIP Icon.png'%}" alt="logo">
                  </a>
                  <a href="https://www.georgiafunctionalmedicine.com">
                      <img src="{% static 'images/S_Georgia Functional Icon.pgn.png' %}" alt="logo">
                  </a>
                  <a href="https://safestartiaq.com">
                      <img src="{% static 'images/S_Safestart Icon.png' %}" alt="logo">
                  </a>  
                </div>
            </div>
        </div> -->
        <div class="div-block-39">
          <h3>Keynote Speaker</h3>
                <div class="w-layout-blockcontainer banner-container padding-adjust w-container">
      <div class="div-block-23"><img src="{% static 'images/Group-39885.svg' %}" loading="lazy" alt="" class="image-7"></div>
      <div class="div-block-22 block-title">
        <div class="div-block-27 no-gap">
          <p class="paragraph-17 conference-style">CIRSx/SurvivingMold Annual Conference<br></p>
          <p class="paragraph-17 conference-style">Keynote Speaker<br></p>
          <p class="paragraph-17 conference-style">Tempe, Arizona    <br></p>
        </div>
        <h3 class="heading-5 conference-header">Dale Bredesen, MD</h3>
        <h4 class="paragraph-18"> A Unifying theory of Neurodegeneration: "The Roles of Environmental Exposure"</h4>
      </div>

        </div>  
        <div class="div-block-39">
          <h3 class="heading-8">Speakers</h3>
            <section class="vision">
    <div class="w-layout-blockcontainer container center w-container">
      <section class="about-hero">
        <div class="about-images">
          <div class="about-img">
            <div class="text-block-13">Brandon Apple, IEP<br><span class="text-span-4">Supporting Successful Building Remediation with Clarity, Accountability and Sequencing: A Case Study</span></div>
          </div>
          <div id="w-node-d9eb4ac0-9409-e2f7-5067-fd109d3a1023-838e583f" class="about-img">
            <div id="w-node-_484e0eda-8f8e-c153-8db3-feff4d28197d-838e583f" class="text-block-14">Brad Davison<br><span class="text-span-5">Using AI to Maximize Data and Clinical Outcomes for the CIRS Community</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Derrick A. Denis<br><span class="text-span-6">Sewer Gas</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Margaret DiTulio, DNP,  APRN<br><span class="text-span-6">Finding the Needle In the Haystack: Tick Borne Infections CIRS Patients</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Glenn DiTulio<br><span class="text-span-6">CIRSx Research Committee: An update on The CIRSx Research</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Ming Dooley, Lac<br><span class="text-span-6">My Very Own Sirewall Part 2 - The Adventrue Continues</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Eric Dorninger, ND, Lac<br><span class="text-span-6">The Actino Reduction Study: Making Life Easier for CIRS Community</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Erin Livers, BA, ICNT<br><span class="text-span-6">The Principles of Body Typing as a Critical Tool for CIRS success</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Robert J. McKee. Esq.<br><span class="text-span-6">The Legal Update in CIRS Law</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Scott McMahon, MD<br><span class="text-span-6">Using Data to Restore Truth in the Courtroom</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Christian Navarro-Torres, PhD<br><span class="text-span-6">Understanding the Pitfalls in Tick Borne Testing</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Ryan Schnack, JD<br><span class="text-span-6">A Lawyer's Shared Experience as a CIRS patient, Lawyer and the Legal Future of CIRS</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Michael Schrantz, IEP<br><span class="text-span-6">Healing Through Your HVAC</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Ritchie Shoemaker, MD<br><span class="text-span-6">Brain Injury In CIRS: From Specific Causation To a Unique Transcriptomic Fingerprint In Parkinson’s</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Jennifer Smith, ND<br><span class="text-span-6">Complex Family Systems in CIRS</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Lauren Sparks, DNP, CNP, APRN, PMHNP-BC<br><span class="text-span-6">Fight for your Right to Practice</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">TBA<br><span class="text-span-6">Using Pulmonary Function Tests In Diﬀerential Diagnosis</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Kirsi Vaali, PhD<br><span class="text-span-6">Revolution in the Analysis of Indoor Air Quality: Water Vapor as a Carrrier of Toxic Substances</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Laura D. Varga, Lac, PhD<br><span class="text-span-6">Diagnosing Lyme and Coinfections: An Investigation of the Availability, Diversity and Validity of the Current Testing</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Lacey Venzai, DC<br><span class="text-span-6">Evidence Based Diagnosis and Strategies for the CIRS Microbiome</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Greg Weatherman, CMC<br><span class="text-span-6">Microbial Growth Where You Least Expect</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Greg Weatherman, CMC<br><span class="text-span-6">Old Dust vs New Dust Case Studies Part 2</span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Bill Weber, GC, CR, CIEC<br><span class="text-span-6">The Application and Logistics of Culturable Sampling CMRS
/span>
          </div>
          </div>
          <div id="w-node-_0af21d76-b04a-72d5-8635-9d7b20acc42f-838e583f" class="about-img">
            <div id="w-node-c14c3912-e38a-63e4-727b-48e32ebb5192-838e583f" class="text-block-15">Barbara Williams & Jacie Gregory<br><span class="text-span-6">What CIRS Patients Wish Their Doctor Knew</span>
          </div>
          </div>
        </div>
      </section>
    </div>
        <div>
          <h3 class="heading-9">Schedule</h3>
          <p class="paragraph-21">Announcing soon</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
