{% extends 'base.html' %}{% load static   %}{% block content %}
    <div class="w-layout-blockcontainer banner-container padding-adjust w-container">
      <div class="div-block-23"><img src="{% static 'images/Group-39885.svg' %}" loading="lazy" alt="" class="image-7"></div>
      <div class="div-block-22 block-title">
        <div class="div-block-27 no-gap">
          <p class="paragraph-17 conference-style">CIRSx/SurvivingMold Annual Conference<br></p>
          <p class="paragraph-17 conference-style">June 5th-8th 2025<br></p>
          <p class="paragraph-17 conference-style">Tempe, Arizona    <br></p>
        </div>
        <h3 class="heading-5 conference-header">OMNI Tempe at ASU</h3>
        <p class="paragraph-18">This year’s conference  will encompass our community’s latest and greatest academic discoveries, fill in the gaps on complex topics, provide case studies (human health and building health), and focus on the essentials and latest on building health to obtain human health. ⁠</p>
        <div class="div-block-25">
          <div class="div-block-26">
            <a href="#" class="button w-button">**Coming Soon**</a>
            <a href="https://cirsx.wufoo.com/forms/qd66od00o78unb/" class="w-inline-block">
              <div class="text-block-25">Submit an abstract</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-layout-blockcontainer container-7 w-container">
      <h2 class="heading-8">Conference Details</h2>
      <div class="div-block-36">
        <div class="div-block-35 conference-data">
          <h1 class="conference-heading">Conference Dates:<br></h1>
          <p>June 5-8 2025<br>CIRSx Conference</p>
          <div class="div-block-37"></div>
          <div class="conference-item">
            <h1 class="conference-heading">Workshops &amp; Sessions:<br></h1>
            <p>Thursday June 4<sup>th</sup>, 2025<br>Medical and Environmental Workshops</p>
            <p class="paragraph-19 no-border">*More to be announced soon</p>
          </div>
        </div>
        <div class="div-block-35 conference-data">
          <h1 class="conference-heading">Location:<br></h1>
          <p>OMNI Tempe Hotel at Arizona State University (ASU)<br>7 East University Drive<br>Tempe, Arizona 85281</p>
          <p class="paragraph-19"><span class="text-span-17">Ask for the CIRSx room rate of $149.00</span>‍<br></p>
          <h1 class="conference-heading">Attending Virtually?<br></h1>
          <p>If you can&#x27;t make it to our conference in person, you can join us virtually. We&#x27;ll email you the schedule, links to watch virtual sessions, and slide decks so you can follow along.</p>
        </div>
      </div>
    </div>
    <div class="w-layout-blockcontainer container-8 w-container">
      <div class="div-block-38">
        <div class="div-block-39">
          <h3 class="heading-8">Speakers</h3>
          <p class="paragraph-20">Announcing soon</p>
        </div>
        <div>
          <h3 class="heading-9">Schedule</h3>
          <p class="paragraph-21">Announcing soon</p>
        </div>
      </div>
    </div>
    <!--<div class="w-layout-blockcontainer container-6 w-container">
      <section class="contact">
        <h4 class="heading-7">Call For Abstracts</h4>
        <div class="form-block w-form">
          <form id="wf-form-Call-For-Abstracts" name="wf-form-Call-For-Abstracts" data-name="Call For Abstracts" method="get" class="form" data-wf-page-id="6674895bff5635f1838e5836" data-wf-element-id="1bbb9376-3811-0105-a4c4-e6fb5a2ee224">
            <div class="div-block-30">
              <div class="div-block-28"><label for="First-Name" class="field-label-2">First Name</label><input class="text-field-2 w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="" type="text" id="First-Name" required=""><label for="email" class="field-label-3">Email Address</label><input class="text-field-5 w-input" maxlength="256" name="email" data-name="Email" placeholder="" type="email" id="email" required=""></div>
              <div class="div-block-29"><label for="Last-Name" class="field-label-2">Last Name</label><input class="text-field form-style w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="" type="text" id="Last-Name" required=""><label for="Phone-Number" class="field-label-3">Phone Number</label><input class="text-field-4 w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="" type="tel" id="Phone-Number" required=""></div>
            </div>
            <div><label for="Title" class="field-label-3">Subject Title</label><input class="text-field-3 w-input" maxlength="256" name="Title" data-name="Title" placeholder="" type="text" id="Title" required="">
              <div class="div-block-31">
                <a href="#" class="primary-btn white w-button">Upload Abstract (.pdf, .doc, .docx)</a><input type="submit" data-wait="Please wait..." class="primary-btn w-button" value="Submit">
              </div>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </section>
    </div>-->
{% endblock content %}