{% extends 'base.html' %}{% load static   %}{% block content %}
    <div class="w-layout-blockcontainer banner-container padding-adjust w-container">
      <div class="div-block-23"><img src="{% static 'images/Group-39885.svg' %}" loading="lazy" alt="" class="image-7"></div>
      <div class="div-block-22 block-title">
        <div class="div-block-27 no-gap">
          <p class="paragraph-17 conference-style">CIRSx/SurvivingMold Annual Conference<br></p>
          <p class="paragraph-17 conference-style">June 5th-8th 2025<br></p>
          <p class="paragraph-17 conference-style">Tempe, Arizona    <br></p>
        </div>
        <h3 class="heading-5 conference-header">OMNI Tempe at ASU</h3>
        <p class="paragraph-18">This year’s conference  will encompass our community’s latest and greatest academic discoveries, fill in the gaps on complex topics, provide case studies (human health and building health), and focus on the essentials and latest on building health to obtain human health. ⁠</p>
        <div class="div-block-25">
          <div class="div-block-26">
            <a href="#" class="button w-button">**Coming Soon**</a>
            <a href="https://cirsx.wufoo.com/forms/qd66od00o78unb/" class="w-inline-block">
              <div class="text-block-25">Submit an abstract</div>
            </a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}