{% extends 'base.html' %}{% load static %}{% block content %}

  <section class="section">
    <h1 class="heading-3">Please select the category of videos</h1>
  </section>
  <div class="w-layout-blockcontainer container-5 w-container">
    <ul role="list" class="list">
    {% for i in cat %}
      <li class="list-item">
        <div data-hover="false" data-delay="0" class="curationlistitem w-clearfix w-dropdown">
          <div class="dropdown-toggle-4 w-clearfix w-dropdown-toggle">
            <div class="icon-3 w-icon-dropdown-toggle"></div>
            <div class="text-block-5">{{ i.cat_name }}</div>
          </div>
          <nav class="w-dropdown-list">
          {% for l in lst %}
              {% if i.cat_name == l.curr_num.cat_name %}
                <a href="{{l.doc_path}}" class="w-dropdown-link">{{ l.title }}</a>
              {% endif %}
          {% endfor %}
          </nav>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}