{% extends 'base.html' %}{% load static %}{% block content %}
  <section class="section">
    <h1 class="heading-3">Please select the category of videos</h1>
    <div class="w-layout-blockcontainer container-4 w-container">
      <div data-hover="false" data-delay="0" class="w-dropdown">
        <div class="dropdown-toggle-2 w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div class="text-block-3">Categories </div>
        </div>
        <nav class="w-dropdown-list">
              {% for i in cur %}
              <a href="#" class="w-dropdown-link">{{ i.cat_name }} - {{ i.subcat_name }}</a>
              {% endfor %}
        </nav>
      </div>
    </div>
  </section>

{% endblock %}