{% extends 'base.html' %}{% load static %}{% block content %}

  <section class="section-title">
    <h1 class="heading-3">Please select the category of videos</h1>
  </section>
  <div class="w-layout-blockcontainer container-5 w-container">
    <ul role="list" class="list">
        {% regroup lst by cat_name as category  %}
        {% for c in category %}
                <li class="list-item">
                    <div data-hover="false" data-delay="0" class="curationlistitem w-clearfix w-dropdown">
                        <div class="dropdown-toggle-4 w-clearfix w-dropdown-toggle">
                        <div class="icon-3 w-icon-dropdown-toggle"></div>
                          <div class="text-block-5">{{ c.grouper }}</div>
                      </div>
                      <nav class="w-dropdown-list">
                          {% for d in c.list %}
                            <a href="{{d.doc_path}}" class="curationlistitem w-clearfix w-dropdown w-dropdown-link">{{ d.title }}</a>
                          {% endfor %}
                      </nav>
                    </div>
                </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}