{% extends 'base.html' %}{% load static %}{% block content %}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src={% static 'images/sub-title.svg' %} loading="lazy" alt="Icon">
        <div class="text-block-17">Healers &amp; Helpers</div>
      </div>
      <h1 class="about-main-title">Interviews</h1>
    </div>
  </div>
  <div class="page-data">
    <section class="interviews">
      <div class="container content-grid">
        {% for h in heal %}
        <a data-w-id="fdee9fdb-7f47-1b5a-deea-6110a8c6dd67" href="#" class="post-link w-inline-block">
          <div class="post-img">
              <div style="padding:56.25% 0 0 0;position:absolute;">
                  <iframe src="{{ h.path }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;   " title={{ h.name }}></iframe>
              </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
          <div class="post-data">
            <div>
              <h4 class="post-title">{{ h.name }}</h4>
            </div>
            <!--<div class="post-date">
              <div class="post-category">Category</div>
              <div>7/5/2024</div>
            </div>-->
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}