{% extends 'base.html' %}{% load static %}{% block content %}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src={% static 'images/sub-title.svg' %} loading="lazy" alt="Icon">
        <div class="text-block-17">Patient Resources</div>
      </div>
      <h1 class="about-main-title">Support For Patients with CIRS</h1>
    </div>
  <div class="page-data">
      <div class="w-layout-blockcontainer banner-container w-container">
      <div class="heading-left">
        <h3 class="heading-5">Is CIRS Worse Than Asbestos?</h3>
        <p class="paragraph-17">Watch Dr. Scott McMahon &amp; Dr. Ritchie Shoemaker of CIRSx.com speak with Dr. Jordan B. Peterson as they discuss their potentially groundbreaking research into CIRS, or Chronic Inflammatory Response Syndrome. <br></p>
        <a href="https://youtu.be/LGG7om1hHcU?si=IvUql6V1U9OL3un3" class="button w-button">Watch Now</a>
      </div>
      <div class="video-thumbnail"><img src="{% static 'images/Screenshot-2024-09-25-at-7.05.15-PM.png' %}" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 991px) 495px, (max-width: 1279px) 50vw, (max-width: 1439px) 41vw, (max-width: 1919px) 40vw, 747px" srcset="{% static 'images/Screenshot-2024-09-25-at-7.05.15-PM-p-500.png' %} 500w, {% static 'images/Screenshot-2024-09-25-at-7.05.15-PM-p-800.png' %} 800w, {% static 'images/Screenshot-2024-09-25-at-7.05.15-PM-p-1080.png' %} 1080w, {% static 'images/Screenshot-2024-09-25-at-7.05.15-PM-p-1600.png' %} 1600w, {% static 'images/Screenshot-2024-09-25-at-7.05.15-PM-p-2000.png' %} 2000w, {% static 'images/Screenshot-2024-09-25-at-7.05.15-PM.png' %} 2530w" alt="" class="image-6"></div>
    </div>
    <section class="interviews shoey-awards">
      <div class="container content-grid">
        {% for p in pat %}
        <a data-w-id="fdee9fdb-7f47-1b5a-deea-6110a8c6dd67" href="#" class="post-link w-inline-block">
          <div class="post-img">
              <div style="padding:56.25% 0 0 0;position:relative;">
                  <iframe src="{{ p.path }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="{{ p.name }}"></iframe>
              </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
          <div class="post-data">
            <div>
              <h4 class="post-title">{{ p.name }}</h4>
            </div>
            <!--<div class="post-date">
              <div class="post-category">Category</div>
              <div>7/5/2024</div>
            </div>-->
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </div>
</div>   
 {% endblock content %} 
  