{% extends 'base.html' %}{% load static %}{% block content %}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src="images/sub-title.svg" loading="lazy" alt="Icon">
        <div class="text-block-19">Patient Resources</div>
      </div>
      <h1 class="main-title">Support For Patients with CIRS</h1>
    </div>
  </div>
  <div class="page-data">
    <div class="w-layout-blockcontainer container bm100 w-container">
      <div class="award-container">
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="award-container">
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
        <div class="award">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 27vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 29vw, 586.3359375px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="award-container">
        <div class="award w33">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 28vw, 566.3671875px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
        <div class="award w33">
          <div class="post-img"><img src="images/placeholder.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 991px) 28vw, (max-width: 1439px) 27vw, (max-width: 1919px) 28vw, 566.3671875px" srcset="images/placeholder-p-500.png 500w, images/placeholder-p-800.png 800w, images/placeholder-p-1080.png 1080w, images/placeholder-p-1600.png 1600w, images/placeholder-p-2000.png 2000w, images/placeholder-p-2600.png 2600w, images/placeholder.png 2880w" alt="Post Image" class="post-image"></div>
          <div class="post-data">
            <div>
              <h4 class="post-title">Item Title</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endblock content %} 
  