{% extends 'base.html' %}{% load static %}{% block content %}
<section class="section">
    <h1 class="heading-3">Research Papers<br>‍</h1>
    <h3 class="heading-4">In association with The Learning Center</h3>
</section>
<div class="w-layout-blockcontainer w-container">
    <div>
      <ul role="list" class="w-list-unstyled">
        <li class="list-item-2">Link 1</li>
        <li class="list-item-3">Link2</li>
        <li class="list-item-4">Link 3</li>
      </ul>
    </div>
  </div>
{% endblock content %}