 {% extends 'base.html' %}{% load static %}{% block content %}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src={% static 'images/sub-title.svg' %} loading="lazy" alt="Icon">
        <div class="text-block-20">Advancing &amp; Innovating</div>
      </div>
      <h1 class="main-title">Research Committee</h1>
    </div>
  </div>
  <section class="section">
    <div class="w-layout-blockcontainer container-4 generic-message w-container">
      <p class="paragraph-12">The mission of the <strong>CIRSx Research Committee</strong> is to advance the science through:<br><br>Conducting rigorous, well-designed research on the prevention, diagnosis, and treatment of innate immune system dysregulation caused by biotoxin exposure and dissemination of evidence-based research findings to increase biotoxin illness awareness among the general public, medical providers, lawyers, builders, and environmental professionals. </p>
      <p class="paragraph-12">If you would like to donate to our mission click the button below</p>
      <a href="https://app.goodgiving.online/spp/Giveandsupport" class="hero-block w-inline-block">Dontate Now!</a>
    </div>
  </section>
  {% endblock content %}