  <section class="uui-banner22_component">
    <div class="uui-page-padding">
      <div class="uui-banner22_content-wrapper">
        <div class="uui-banner22_content">
          <div class="uui-banner22_text-wrapper">
            <div class="uui-banner22_text">19.25 Hours of CME for 2025 CIRSx Conference.</div>
            <div class="uui-banner22_supporting-text">
              <a href="#" class="link-4">Register Here!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
