{% extends 'base.html' %}{% load static %}{% block content%}
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src={% static 'images/sub-title.svg'%} loading="lazy" alt="Icon">
        <div class="text-block-18">Video Library</div>
      </div>
      <h1 class="main-title">Explore Our Videos</h1>
    </div>
  </div>
  <div class="page-data">
    <section class="services no-top-margin">
      <div class="w-layout-blockcontainer container w-container">
        <div class="div-block-19">
          <div class="div-block-20">
            <h5 class="que-title">Curated Playlists</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                <p class="paragraph-3"><span class="text-span-14"> 01</span><a href="https://vimeo.com/showcase/10788957" class="link">Introduction</a> </p>
              </div>
              <div class="contact-link-list">
                  <p class="paragraph-4"><span class="text-span-14">02</span> <a href="https://vimeo.com/showcase/10788997" class="link">Legal &amp; Testimony</a></p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-5"><span class="text-span-14">03</span> <a href="https://vimeo.com/showcase/10789000" class="link">Wellness</a></p>
              </div>
            </div>
          </div>
          <div class="div-block-21">
            <h5 class="que-title">Indoor Environmental Professionals &amp; Buildings</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                  <p class="paragraph"><span class="text-span-14"> 01</span> <a href="https://vimeo.com/showcase/10789089" class="link">Inspection &amp; Testing Methods</a></p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-2"><span class="text-span-14">02</span> <a href="https://vimeo.com/showcase/10789072" class="link">Remediation</a></p>
              </div>
              <div class="contact-link-list">
                  <p class="paragraph-6"><span class="text-span-14">03</span> <a href="https://vimeo.com/showcase/10789096" class="link">Home Buying, Architecture, &amp; Building Practices</a></p>
              </div>
              <div class="contact-link-list">
                  <p class="paragraph-7"><span class="text-span-14">04</span> <a href="https://vimeo.com/showcase/10789099" class="link">Environmental Panels</a></p>
              </div>
            </div>
          </div>
          <div class="div-block-21">
            <h5 class="que-title">Conference Videos</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                <p class="paragraph"><span class="text-span-14"><a href="#" class="link">2024 - Frisco, TX</a></span></p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-2"><span class="text-span-14"><a href="#" class="link">2023 - </a></span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-data"></div>
        <div data-delay="0" data-hover="false" data-w-id="1a04f280-a3d7-0705-9199-c9ec36ea08d2" style="border-color:rgba(0,0,0,0.1)" class="faq w-dropdown">
          <div class="que w-dropdown-toggle">
            <h3 class="d-none"></h3>
            <div class="faq-que">
              <h5 class="que-title">CIRS Shoemaker Protocol <!--<span class="text-span-15">See All</span>--></h5>
            </div>
              <!--
            <div class="que-icon">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="vertical-line"></div>
              <div class="horizontal-line"></div>
            </div>
            -->
          </div>
          <nav style="height:300px" class="ans w-dropdown-list">
            <div class="ans-box">
              <div class="div-block-15">
                <div class="div-block-13 _50">
                  <div class="contact-link-list">
                    <p><span class="text-span-12"> Overview</span> Shoemaker Protocol</p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-13">Step 01</span>
                      <a href="https://vimeo.com/showcase/10789110" class="link">Remove Patient from Actinomycetes Exposure</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 02 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Bacterial Endotoxin</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 03 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Ciguatera</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 04 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Pfesteria</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 05 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Cyanobacteria</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 06 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Lyme</a>
                    </p>
                  </div>
                </div>
                <div class="div-block-13 _50">
                  <div class="contact-link-list"></div>
                  <div class="contact-link-list">
                    <p><span class="text-span-13">Step 07 </span>
                      <a href="https://vimeo.com/showcase/10789110" class="link">CSM / Welchol</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 08 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Eradicate MARCoNS</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 09 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Correct MMP-9</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 10 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2"> Correct C4a</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 11 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Correct C3a</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 12 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">VIP</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!--  
        <div class="contact-block-wrap adjust-margin">
          <h4 class="cb-title add-margin pad-in">Browse by Topic</h4>
          <div class="w-layout-blockcontainer container-2 w-container">
            <div class="div-block-16">
              <a data-w-id="0bf00e10-91b4-fe09-a41b-624432872d88" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Screening</em></strong></h6>
                </div>
              </a>
              <a data-w-id="ce3ecd87-3a63-c73c-3c0e-7349d2539992" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">CIRS Diagnosis</em></strong></h6>
                </div>
              </a>
              <a data-w-id="47f1ded2-339c-8fcf-ef86-df8d3ec2fc50" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-4">Genetics</em></strong></h6>
                </div>
              </a>
              <a data-w-id="09885c42-5576-1a8e-c8ed-cc5889657080" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-5">Validation</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c5f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Endocrinology<br></em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c68" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">GENIE</em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c71" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-6">COVID</em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c7a" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-7">Histamine</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fc6" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Research</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fd0" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Gastroenterology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fd9" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-8">PANS / POTS</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fe0" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-9">Autism</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab747234" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Lyme</em></strong></h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab74723e" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-3">Rheumatology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab747247" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title">Coagulaopathy</h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab74724e" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title">Arteriosclerosis</h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b6fc" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Immunology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b706" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-10">Pediatrics</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b70f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Healthcare Panels</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b716" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Interviews &amp; Podcasts</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="222029ab-4fa3-63ba-2e33-c08de8b9a165" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Hypometabolism / Fatigue / Exercise Intolerance</em></strong></h6>
                </div>
              </a>
              <a data-w-id="222029ab-4fa3-63ba-2e33-c08de8b9a16f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Neuroquant / Neurology / Brain Health</em></strong></h6>
                </div>
              </a>
              <div class="service-data">
                <h6 class="service-title"><strong><em class="italic-text-2">Integrative Medicine &amp; CIRS<br></em></strong></h6>
              </div>
              <div class="service-data">
                <h6 class="service-title"><strong><em class="italic-text-2">Pulmonary Hypertension</em></strong></h6>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </section>
  </div>
{% endblock %}