<!DOCTYPE html><!--  Last Published: Sun Sep 08 2024 20:56:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6674895bff5635f1838e583e" data-wf-site="6674895bff5635f1838e57ca" lang="en">
<head>
  <meta charset="utf-8">
  <title>CIRSX | Video Library</title>
  <meta content="At the forefront of health innovation, our organization is dedicated to creating and refining standards that stay on the cutting edge, using an evidence-based approach. The CIRSx mission is to transform multiple industries, revolutionizing their approaches toward Chronic Inflammatory Response Syndrome (CIRS) and other environmentally related health challenges." name="description">
  <meta content="CIRSX | Video Library" property="og:title">
  <meta content="At the forefront of health innovation, our organization is dedicated to creating and refining standards that stay on the cutting edge, using an evidence-based approach. The CIRSx mission is to transform multiple industries, revolutionizing their approaches toward Chronic Inflammatory Response Syndrome (CIRS) and other environmentally related health challenges." property="og:description">
  <meta content="CIRSX | Video Library" property="twitter:title">
  <meta content="At the forefront of health innovation, our organization is dedicated to creating and refining standards that stay on the cutting edge, using an evidence-based approach. The CIRSx mission is to transform multiple industries, revolutionizing their approaches toward Chronic Inflammatory Response Syndrome (CIRS) and other environmentally related health challenges." property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/cirsx-f8a9d4.webflow.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Manrope:200,300,regular,500,600,700,800"]  }});</script>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.jpg" rel="apple-touch-icon">
</head>
<body>
  <div class="header">
    <div data-w-id="cf02e632-b89f-6b73-66cb-b6f1ee39e2c0" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="w-layout-blockcontainer container no-margin navbar-full w-container">
        <div class="navbar-wrapper">
          <div class="nav-left">
            <a href="index.html" class="brand w-nav-brand"><img src="images/cirsx--coloro-logo.svg" loading="lazy" alt="B-Well" class="image"></a>
          </div>
          <div class="nav-right">
            <div class="nav-menu-wrap">
              <nav role="navigation" class="nav-menu w-nav-menu">
                <div data-delay="0" data-hover="false" data-w-id="695eb7b8-f9a3-d2ce-5c8e-9b83c0c9ac82" class="nav-drop-down w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div>Resources</div><img loading="lazy" src="images/ic-arrow-down.svg" alt="Icon" class="arrow">
                  </div>
                  <nav class="link-list w-dropdown-list">
                    <div class="nav-links">
                      <a href="video-library.html" aria-current="page" class="w-dropdown-link w--current">Video Archives</a>
                      <a href="resource-library.html" class="w-dropdown-link">Resource Library</a>
                      <a href="patient-resources.html" class="w-dropdown-link">Patient Help</a>
                      <a href="bibliographies.html" class="w-dropdown-link">Bibliographies</a>
                    </div>
                  </nav>
                </div>
                <a href="research-lab.html" class="nav-link">Research Lab</a>
                <a href="cirsx-institute.html" class="nav-link">CIRSx Institute</a>
                <a href="conference.html" class="nav-btn mobile">Contact Us</a>
                <div data-delay="0" data-hover="false" data-w-id="c80d4470-4c43-59fb-20d9-1a210016a343" class="nav-drop-down w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div>More</div><img loading="lazy" src="images/ic-arrow-down.svg" alt="Icon" class="arrow">
                  </div>
                  <nav class="link-list w-dropdown-list">
                    <div class="nav-links">
                      <a href="about.html" class="w-dropdown-link">About Us</a>
                      <a href="healers-helpers.html" class="w-dropdown-link">Interviews</a>
                      <a href="shoey-awards.html" class="w-dropdown-link">Shoey Awards</a>
                      <a href="book-of-the-year.html" class="w-dropdown-link">Book of the Year</a>
                    </div>
                  </nav>
                </div>
              </nav>
            </div>
            <a href="conference.html" class="nav-btn">Conference Registration</a>
            <div class="humburg-menu w-nav-button">
              <div class="top-line"></div>
              <div class="middle-line"></div>
              <div class="bottom-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-title">
    <div class="w-layout-blockcontainer container w-container">
      <div class="sub-title"><img src="images/sub-title.svg" loading="lazy" alt="Icon">
        <div class="text-block-18">Video Library</div>
      </div>
      <h1 class="main-title">Explore Our Videos</h1>
    </div>
  </div>
  <div class="page-data">
    <section class="services no-top-margin">
      <div class="w-layout-blockcontainer container w-container">
        <div class="div-block-19">
          <div class="div-block-20">
            <h5 class="que-title">Curated Playlists</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                <p class="paragraph-3"><span class="text-span-12"> 01</span> Introduction</p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-4"><span class="text-span-13">02</span> Legal &amp; Testimony</p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-5"><span class="text-span-14">03</span> Wellness</p>
              </div>
            </div>
          </div>
          <div class="div-block-21">
            <h5 class="que-title">Indoor Environmental Professionals &amp; Buildings</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                <p class="paragraph"><span class="text-span-8"> 01</span> Inspection &amp; Testing Methods</p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-2"><span class="text-span-9">02</span> Remediation</p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-6"><span class="text-span-10">03</span> Home Buying, Architecture, &amp; Building Practices</p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-7"><span class="text-span-11">04</span> Environmental Panels</p>
              </div>
            </div>
          </div>
          <div class="div-block-21">
            <h5 class="que-title">Conference Videos</h5>
            <div class="div-block-13">
              <div class="contact-link-list">
                <p class="paragraph"><span class="text-span-8">2024</span></p>
              </div>
              <div class="contact-link-list">
                <p class="paragraph-2"><span class="text-span-9">2023</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-data"></div>
        <div data-delay="0" data-hover="false" data-w-id="1a04f280-a3d7-0705-9199-c9ec36ea08d2" style="border-color:rgba(0,0,0,0.1)" class="faq w-dropdown">
          <div class="que w-dropdown-toggle">
            <h3 class="d-none"></h3>
            <div class="faq-que">
              <h5 class="que-title">CIRS Shoemaker Protocol <span class="text-span-15">See All</span></h5>
            </div>
            <div class="que-icon">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="vertical-line"></div>
              <div class="horizontal-line"></div>
            </div>
          </div>
          <nav style="height:0px" class="ans w-dropdown-list">
            <div class="ans-box">
              <div class="div-block-15">
                <div class="div-block-13 _50">
                  <div class="contact-link-list">
                    <p><span class="text-span-12"> Overview</span> Shoemaker Protocol</p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-13">Step 01</span>
                      <a href="https://vimeo.com/showcase/10789110" class="link">Remove Patient from Actinomycetes Exposure</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 02 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Bacterial Endotoxin</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 03 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Ciguatera</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 04 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Pfesteria</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 05 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Cyanobacteria</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 06 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Lyme</a>
                    </p>
                  </div>
                </div>
                <div class="div-block-13 _50">
                  <div class="contact-link-list"></div>
                  <div class="contact-link-list">
                    <p><span class="text-span-13">Step 07 </span>
                      <a href="https://vimeo.com/showcase/10789110" class="link">CSM / Welchol</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 08 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Eradicate MARCoNS</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 09 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Correct MMP-9</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 10 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2"> Correct C4a</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 11 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">Correct C3a</a>
                    </p>
                  </div>
                  <div class="contact-link-list">
                    <p><span class="text-span-14">Step 12 </span>
                      <a href="https://vimeo.com/showcase/10789118" class="link-2">VIP</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="contact-block-wrap adjust-margin">
          <h4 class="cb-title add-margin pad-in">Browse by Topic</h4>
          <div class="w-layout-blockcontainer container-2 w-container">
            <div class="div-block-16">
              <a data-w-id="0bf00e10-91b4-fe09-a41b-624432872d88" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Screening</em></strong></h6>
                </div>
              </a>
              <a data-w-id="ce3ecd87-3a63-c73c-3c0e-7349d2539992" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">CIRS Diagnosis</em></strong></h6>
                </div>
              </a>
              <a data-w-id="47f1ded2-339c-8fcf-ef86-df8d3ec2fc50" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-4">Genetics</em></strong></h6>
                </div>
              </a>
              <a data-w-id="09885c42-5576-1a8e-c8ed-cc5889657080" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-5">Validation</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c5f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Endocrinology<br></em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c68" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">GENIE</em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c71" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-6">COVID</em></strong></h6>
                </div>
              </a>
              <a data-w-id="453c123b-ee9c-f956-4a1d-735ab8700c7a" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-7">Histamine</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fc6" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Research</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fd0" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Gastroenterology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fd9" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-8">PANS / POTS</em></strong></h6>
                </div>
              </a>
              <a data-w-id="d29ceea5-c6cd-2f67-5c87-15f02a837fe0" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-9">Autism</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab747234" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Lyme</em></strong></h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab74723e" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-3">Rheumatology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab747247" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title">Coagulaopathy</h6>
                </div>
              </a>
              <a data-w-id="94340f05-3e8d-a0c9-afa6-ad63ab74724e" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title">Arteriosclerosis</h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b6fc" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Immunology</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b706" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-10">Pediatrics</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b70f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Healthcare Panels</em></strong></h6>
                </div>
              </a>
              <a data-w-id="e31a3e2e-988f-8c45-72ef-a3e327a9b716" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text-2">Interviews &amp; Podcasts</em></strong></h6>
                </div>
              </a>
            </div>
            <div class="div-block-16">
              <a data-w-id="222029ab-4fa3-63ba-2e33-c08de8b9a165" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Hypometabolism / Fatigue / Exercise Intolerance</em></strong></h6>
                </div>
              </a>
              <a data-w-id="222029ab-4fa3-63ba-2e33-c08de8b9a16f" href="#" class="service-link w-inline-block">
                <div class="service-data">
                  <h6 class="service-title"><strong><em class="italic-text">Neuroquant / Neurology / Brain Health</em></strong></h6>
                </div>
              </a>
              <div class="service-data">
                <h6 class="service-title"><strong><em class="italic-text-2">Integrative Medicine &amp; CIRS<br></em></strong></h6>
              </div>
              <div class="service-data">
                <h6 class="service-title"><strong><em class="italic-text-2">Pulmonary Hypertension</em></strong></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="research-options">
      <div class="w-layout-blockcontainer container w-container">
        <div class="cta-wrap">
          <div class="cta-block">
            <h4 class="cta-title">CIRSx Frisco 2024</h4>
            <p class="cta-text no-padding">Looking for access to conference material from the 2024 CIRSx conference? Login below or contact us for help with your access.</p>
            <div class="cta-btns">
              <a data-w-id="22bed317-9d94-86f8-d319-353b70b520c8" href="#" class="primary-btn white w-inline-block">
                <div class="btn-text-wrap">
                  <div>Login</div>
                </div>
                <div class="btn-bg"></div>
              </a>
              <a data-w-id="22bed317-9d94-86f8-d319-353b70b520cd" href="#" class="secondary-btn w-inline-block">
                <div>Contact us</div>
                <div class="button-icon"><img src="images/arrow.svg" loading="lazy" alt="Arrow" class="arrow"></div>
              </a>
            </div>
          </div>
          <div class="cta-divider"></div>
          <div class="cta-block">
            <h4 class="cta-title">CIRSx Institute</h4>
            <p class="cta-text no-padding">Become certified with courses designed for professionals and general audiences alike.</p>
            <div class="cta-btns">
              <a data-w-id="22bed317-9d94-86f8-d319-353b70b520d9" href="#" class="primary-btn white w-inline-block">
                <div class="btn-text-wrap">
                  <div>Go to courses</div>
                </div>
                <div class="btn-bg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="footer">
    <div class="w-layout-blockcontainer container w-container">
      <div class="footer-wrap">
        <div class="ftr-left">
          <div>
            <a href="index.html" class="brand w-inline-block"><img src="images/cirsx-logo.svg" loading="lazy" width="191" alt="B-Well" class="image-3"></a>
            <p class="footer-info">Leading the Way in Treating, Educating,<br>and Serving Those with CIRS.</p>
          </div>
          <div>
            <div class="ftr-social">
              <a href="https://twitter.com/cirsxofficial" target="_blank" class="social w-inline-block"><img src="images/twitter.svg" loading="lazy" alt="Social Icon"></a>
              <a href="https://www.linkedin.com/company/cirsx" target="_blank" class="social w-inline-block"><img src="images/linkedin-svgrepo-com-2.svg" loading="lazy" width="23" alt="Social Icon" class="image-5"></a>
              <a href="https://www.instagram.com/cirsxofficial" target="_blank" class="social w-inline-block"><img src="images/instra.svg" loading="lazy" alt="Social Icon"></a>
            </div>
          </div>
        </div>
        <div class="ftr-menu">
          <div class="ftr-link-wrap">
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce5872482c" href="video-library.html" aria-current="page" class="ftr-link w-inline-block w--current">
              <div class="link-number">01</div>
              <div class="text-block-6">Video Library</div>
            </a>
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce58724831" href="resource-library.html" class="ftr-link w-inline-block">
              <div class="link-number">02</div>
              <div class="text-block-5">Resources</div>
            </a>
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce58724836" href="patient-resources.html" class="ftr-link w-inline-block">
              <div class="link-number">03</div>
              <div class="text-block-7">Patient Support</div>
            </a>
          </div>
          <div class="ftr-link-wrap">
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce5872483c" href="about.html" class="ftr-link w-inline-block">
              <div class="link-number">04</div>
              <div class="text-block-8">About Us</div>
            </a>
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce58724841" href="cirsx-institute.html" class="ftr-link w-inline-block">
              <div class="link-number">05</div>
              <div class="text-block-9">CIRSx Institute</div>
            </a>
            <a data-w-id="5a491dd0-7d21-7ba1-5de9-01ce58724846" href="research-lab.html" class="ftr-link w-inline-block">
              <div class="link-number">06</div>
              <div class="text-block-10">Research Lab </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bototm">
      <div class="w-layout-blockcontainer container no-margin w-container">
        <div class="ftr-text">
          <div>© 2024 CIRSx, All Rights Reserved. Designed by <a href="https://www.wild-inc.com" target="_blank" class="footer-link">Wild, Inc</a>.</div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6674895bff5635f1838e57ca" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
</body>
</html>